* { margin: 0; padding: 0; border: none;}
  
.top-div {
    /* text-align: center; */
    /* line-height: 35px; */
}

/* .player-wrapper {
    background: linear-gradient(to right, rgb(44, 104, 130) 10%, 10%, #282c34 90%, 90%, rgb(44, 104, 130))
} */

.center-toggle {
    display: inline-block;
    text-align: center;
}

::-webkit-scrollbar {
    display: none;
}

.login-button {
    cursor: pointer;
    vertical-align: middle;
    border: rgba(0, 0, 0, 0.016); 
    border-radius: 10px;
    background-color: rgb(90, 213, 213);
    width: 60px;
    height: 22px;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    opacity: 1;
    display: inline-block;
    margin-left: 22%;
    margin-top: 8%;
}

.expand-button {
    width: 15px;
    margin-left: 0px;
    margin-top: 0px;
    height: 374px;
    display: inline-block;
    background-color: rgb(44, 104, 130);
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    padding: 0;
}

.expand-button-2 {
    width: 15px;
    height: 374px;
    display: inline-block;
    background-color: rgb(44, 104, 130);
    text-decoration: none;
    float: right;
    -webkit-transition-duration: 0.4s;
    padding: 0;
}

.toggle-button {
    cursor: pointer;
    vertical-align: top;
    margin-top: 12px;
    margin-left: 20px;
    border: 2px solid rgb(195, 228, 225);
    border-radius: 50%;
    background-color: rgb(90, 213, 213);
    width: 30px;
    height: 30px;
    opacity: 1;
    -webkit-transition-duration: 0.4s;
    display: inline-block;
}

.toggle-button:focus {
    outline: none;
}

.expand-button:focus {
    outline: none;
}

.expand-button-2:focus {
    outline: none;
}

.expand-button:hover { 
    opacity: 0.6
}

.expand-button-2:hover {
    opacity: 0.6
}

.toggle-button:hover {
    opacity: 0.6;
}

.login-button:hover {opacity: 0.6}
